body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.HomepageBackground {
  background-color: #ebebff;
  text-align: center;
  padding: 20px 0px;
}

.aboutMeBackground {
  background-color: #96c993;
  text-align: center;
  padding: 20px 0px; 
}
.blogBackground {
  background-color: #b6eae8;
  text-align: center;
  padding: 20px 0px; 
}

.portfolioBackground {
  background-color: #ffe191;
  text-align: center;
  padding: 20px 0px; 
}

.picBorder {
  border-style: solid;
  border-color: white;
}

.aboutMeText {
  color: #13580e;
  font-family: 'Pacifico', cursive;
  margin: 0;
  text-shadow: 2px 2px #59A454;
}

.blogText {
  color: #4289f4;
  font-family: 'Pacifico', cursive;
  margin: 0;
  text-shadow: 2px 2px #edfffe;
}

.portfolioText {
  color: #876200;
  font-family: 'Pacifico', cursive;
  margin: 0;
  text-shadow: 2px 2px white;
}

/* 
.bio {
  height: 600px;
} */

h1 {
  color: #6c6cd0;
  font-family: 'Pacifico', cursive;
  margin: 0;
  text-shadow: 2px 2px white;
}
  
.homepageUL {
  width: 99%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #5d5de3
}

.aboutMeUL {
  width: 99%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #926161;
  color: black;
}

.blogUL {
  width: 99%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #5d5de3
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
  margin: 0px;
  display: flex;
}
.picText {
  float: none;
}

.blog-entry {
  text-align: left;
  color: black;
  font-family: 'Times', sans-serif;
}

.blog-entry h1 {
  font-family: 'Georgia', sans-serif;
  margin: auto 200px;
}
.blog-entry h4 {
  margin: 16px 200px 0px 200px;
  color: gray;
}

li {
  padding: 0px 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
} 

img {
  height: 400px;
  border-radius: 25px;
  margin: 16px 0px;
}

p {
  margin: 16px 200px;
}

.about {
  display: flex;
  margin: 0px;
  padding: 0px 250px;
}

.about img {
  height: 300px;
}

.about p {
  width: 300px;
  margin: auto;
  font-family: 'Times', sans-serif;
}

.column img {
  height: 200px;
}

.column p {
  width: 250px;
  margin: auto;
  font-family: 'Times', sans-serif;
}

.project_description {
  text-align: left;
  color: black;
}

.article {
  display: flex;
  padding: 0px 200px;
}

.article img {
  width: 375px;
  height: auto;
}

.article a {
  color: salmon;
  text-shadow: white;
}

.article h1 {
  font-family: 'Arial', sans-serif;
  margin: auto 30px;
  color: black;
}

.article h4 {
  margin: 16px 30px 0px 30px;
}

.article p {
  margin: 16px 30px;
}


#bottom-padding {
  height: 20px;
}

#top-padding {
  height: 16px;
}
